doctype html
head
  title User Profile Design
  link(rel='stylesheet' href='/stylesheets/createPost.css')
  script(src="/javascripts/createPostScript.js")
  script(src='https://kit.fontawesome.com/233056fb74.js' crossorigin='anonymous')
// Side navigation
.sidenav
  // try to get  png symbol here
  a(href='/catalog/home') Feed
  a(href='/catalog/profile') My Profile
  a(href='/catalog/home/create') Make a Post
  a(href='/catalog/userlist') Find People
  a(href='/catalog/logout') Log out

.profile(style = 'height: 700px')
    .title
    h1
    | Create a post
    br
    br
    // Tab links
    .tab
      button.tablinks(onclick="openCity(event, 'London')" id="defaultOpen") Regular Post
      button.tablinks(onclick="openCity(event, 'Paris')") Audio Upload
    br  
    // Tab content
    #London.tabcontent
      form(method='POST' action='/catalog/home/create')
            label(for='postcontent') Post Content:
            br
            br
            //input#username.form-control(type='text', placeholder='Share your thoughts or some music!' name='postcontent' value=(undefined===userinfo ? '' : userinfo.username))
            textarea.postBody(type='text' name='postcontent' placeholder='Share your thoughts')
            br
            br
            input(type='submit' name='btn_upload_profile_pic' value='Upload')
    #Paris.tabcontent
      form(method='POST' action='/catalog/home/create/audio' enctype='multipart/form-data')
            label Upload an audio file:
            br
            br
            div
            input(type='file' name='profile_pic')    
            br
            br
            input(type='submit' name='btn_upload_profile_pic' value='Upload')


//h1 Home Page 
//link(rel='stylesheet', href='/stylesheets/style.css')
//script(src="/javascripts/createPostScript.js")
////form(method='POST' action='/catalog/home/create')
//form(method='POST' action='/catalog/home/create' enctype='multipart/form-data')
//        label(for='postcontent') Post Content:
//        input#username.form-control(type='text', placeholder='Share your thoughts or some music!' name='postcontent' value=(undefined===userinfo ? '' : userinfo.username))
//        br
//        br
//        audio(src='/uploads/example.mp3', controls type='audio/mpeg')
//        br
//        label Add a song:
//        div
//        input(type='file' name='profile_pic')    
//        br
//        br
//        input(type='submit' name='btn_upload_profile_pic' value='Upload')
//        //button.btn.btn-primary(type='submit' name='btn_upload_profile_pic' value='Upload') Submit
//h1 TABS
//// Tab links
//.tab
//  button.tablinks(onclick="openCity(event, 'London')" id="defaultOpen") Regular Post
//  button.tablinks(onclick="openCity(event, 'Paris')") Audio Upload
//// Tab content
//#London.tabcontent
//  form(method='POST' action='/catalog/home/create')
//        label(for='postcontent') Post Content:
//        input#username.form-control(type='text', placeholder='Share your thoughts or some music!' name='postcontent' value=(undefined===userinfo ? '' : userinfo.username))
//        br
//        br
//        input(type='submit' name='btn_upload_profile_pic' value='Upload')
//#Paris.tabcontent
//  form(method='POST' action='/catalog/home/create/audio' enctype='multipart/form-data')
//        label Upload an audio file:
//        div
//        input(type='file' name='profile_pic')    
//        br
//        br
//        input(type='submit' name='btn_upload_profile_pic' value='Upload')
//
//
//
//
//a(href='/catalog/profile') Go to profile page
//
//h1 Feed
//
//ul
//each element in post_list
//    form(method='POST' action='/catalog/home/like')
//        div.form-group
//        li= element
//        br
//        button.btn.btn-primary(type='submit' value=element._id name="action") Like post that says  #{element.content}
//        br
//    
//    form(method='POST' action='/catalog/home/comment')
//        div.form-group
//        br
//        button.btn.btn-primary(type='submit' value=element._id name="action") Add a fake comment to a post that says  #{element.content}
//        br
//    
//br
//a(href='/catalog/userlist') Users List
