doctype html
head
  title Post Upload Page
// Side navigation
.sidenav
  // try to get  png symbol here
  a(href='#') Feed
  a(href='UserProfile.pug') My Profile
  a(href='PostUpload.pug') Make a Post
  a(href='Log-out.pug') Log out
// Page content
.bodywrapper
  form(action='/newPost' method='post')
    div
    h3
      | Welcome, Name
    h1.h1 Make a Post
    .labelwrap
      p
      // Add a Spotify streamable API link here
      textarea.postBody(type='text' name='postBody' placeholder='Text content goes here.')
    .form__submit-button
      input(type='submit')
