doctype html
head
  title User Profile Design
  link(rel='stylesheet' href='/stylesheets/home.css')
  script(src='https://kit.fontawesome.com/233056fb74.js' crossorigin='anonymous')
// Side navigation
.sidenav
  // try to get  png symbol here
  a(href='/catalog/home') Feed
  a(href='/catalog/profile') My Profile
  a(href='/catalog/home/create') Make a Post
  a(href='/catalog/userlist') Find People
  a(href='Log-out.pug') Log out
if(user_list.length == 0)
    .profile(style = 'height: 700px')
      .title
        h1
        | Feed
        
else        
    .profile
      .image-container
        .title
          h2
            | User List
      .main

        hr
        // Start div for posts
        each element in user_list
            .content
              .header
                .detail
                  p.name #{element.name}
                  p.name @#{element.username}
                  .footer
                    .like
                        form(method='POST' action='' style='text-align: center;')
                            button.btn.btn-primary(type='submit' value=element.username name="action")
                                i.fas.fa-user
                                |  Follow
