doctype html
head
  title User Profile Design
  link(rel='stylesheet' href='style.css')
// Side navigation
.sidenav
  // try to get  png symbol here
  a(href='#') Feed
  a(href='#') My Profile
  a(href='#') Make a Post
  a(href='#') Search
.profile
  .image-container
    img(src='user.jpeg' style='width: 100%')
    .title
      h2
        | Matthew Duran
  .main
    p
      b I am a:
      |  Musician
    p
      b Location:
      |  Freeport, NY
    p
      b Contact:
      |  mattduran59@gmail.com
    hr
